
.main-card--container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 100px;
  }
  
  .card-container {
    width: 300px;
    display: flex;
    justify-content: center;
  }
  
  .card {
    background-color: #dea533b5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-number {
    font-size: 1.2em;
    color: #333;
  }
  
  .card-author {
    display: block;
    margin-bottom: 10px;
    color: #000000;
  }
  
  .card-title {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .card-description {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
  }
  
  .card-read {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-read:hover {
    background-color: #e07b00;
  }
  
  .card-media {
    width: 200px;
    height: 150px;
  }
  
  .card-tag {
    display: block;
    text-align: center;
    background-color: #060606;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-tag:hover {
    background-color: #e07b00;
  }
  
  .card-cartOrder {
    display: flex;
    gap: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }