
.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-group {
    display: flex;
    gap: 10px;
  }
  
  .btn-group_item {
    background-color: #f0c14b;
    border: none;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-group_item:hover {
    background-color: #e2a917;
    color: #fff;
  }
  